* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: black;
      font-family: 'Outfit', sans-serif;
      text-align: center;
}

.container {
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #252424;
      margin: 4rem auto 2rem;
      padding: 1rem 1rem 1.5rem;
      flex-direction: column;
      border-radius: 20px;
      color: white;
}

img {
      width: 110px;
      border-radius: 50%;
      border: 1px solid whitesmoke;
      margin-top: 20px;
      margin-bottom: 20px;
}

h1 {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 15px;
}

h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
      color: #adad1b;
}

p {
      font-size: 20px;
      font-weight: 300;
}

main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
}

li {
      list-style: none;
      border: 1px solid transparent;
      background-color: #414040;
      font-weight: 600;
      padding: 15px 130px;
      margin: 20px 0;
      border-radius: 10px;
}

li a {
      color: white;
      font-weight: 600;
      text-decoration: none;
}

li :hover {
      cursor: pointer;
      border-bottom: 1px solid rgb(119, 163, 210);
}

footer {
      font-size: 10px;
}

footer a {
      color: red;
}

@media (max-width:380px){
      .container {
            width: auto;
      }
}